body {
  margin: 0;
  padding: 0;
  width: 100%;
   
}
header {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("./img/hero3.png"); 
  background-size: cover; 
  background-position: center;
  background-attachment: fixed;
  color: white; 
  height: 100vh;
}

html {
  scroll-behavior: smooth;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 10px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo {
    margin-right: 20px; 
    font-size: 24px;
    font-weight: bold;
    font-style: oblique;
  
}

.nav-items ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    
}

.nav-items ul li {
    margin-left: 20px;
    
}

nav a {
  color: white;
  text-decoration: none;
    
}

.book-now {
  background-color: transparent;
  color: white;
  padding: 0.5rem 0.5rem;
  border-radius: 10px;
  border: 2px solid rgb(138, 89, 25);
  font-weight: bold;

}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    gap: 10px;
    width: 40%;
    height: 35%;
    margin: auto;
    margin-top: 150px
}

.header-text h1 {
  margin: 0rem;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header-text p {
  font-size: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header a:hover {
  color: rgb(138, 89, 25);
}



.gallery {
  padding: 60px 40px;
  width: 90%;
  /* margin: 0 20px; */
  overflow: hidden;
  gap: 10px;
}

.gallery h2 {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
  color: black;
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.zoom {
  transition: transform 0.5s ease;

}

.zoom:hover {
  transform: scale(0.8);
}


.photo-grid {
display: grid;
grid-template-columns: repeat(5, 1fr);
gap: 10px;
justify-items: center;
}

.photo-grid img {
  width: 230px;
  height: auto;
  object-fit: cover;
  margin: auto;
  border-radius: 10px;
}

.about-section{
    width: 80%;
    margin: auto;
}

.about {
  display: flex;
  justify-content: center;
  align-items: justify;
  margin-top: 40px;
  width: 100%;
}

.about img {
  width: 30%;
  margin-left: 100px;
  border-radius: 10px;

}

.my-about {
  margin-left: 50px;
  margin-right: 50px;
  width: 65%;
  font-size: 25px;
  background-color: rgb(49, 65, 26);
  padding: 0 2rem;
  border-radius: 10px;
  color: white;
  text-align: center;
}

.my-about h2 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.my-about h3 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.my-about p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


footer {
  background-color: rgb(17, 26, 17);
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}

.my-footer p{
  font-style: italic;
}

.social-icons a {
  display: inline-block;
  text-decoration: none;
}

.social-icons img {
  width: 50px;
  height: 50px;
  filter: brightness(0) invert(2);
}

.social-icons img:hover {
  transform: scale(1.1);
}